[submodule "lib/MIPP"]
	path = lib/MIPP
	url = ../MIPP
[submodule "conf"]
	path = conf
	url = https://github.com/aff3ct/configuration_files.git
[submodule "refs"]
	path = refs
	url = https://github.com/aff3ct/error_rate_references.git
[submodule "lib/date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
[submodule "lib/cli"]
	path = lib/cli
	url = ../cli
[submodule "lib/aff3ct-core"]
	path = lib/aff3ct-core
	url = ../aff3ct-core
